@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}