.searchbar-container {
    .searchbar {
        width: 20rem;
    }
    .searchbar, button {
        height: 2rem;
        border-radius: 5px;
        text-align: center;
        font-size: 1.1em;
    }
    .searchbar:focus {
        border-color: black; 
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
        outline: none; 
    }
    button {
        width: 6rem;
    }
    button:hover {
        cursor: pointer;
        border-color: black;
        box-shadow: black 0 0 2px;
    }
}



