.card {
width: 300px;
min-height: 250px;
display: flex;
flex-direction: column;
align-items: center;

    .card-banner {
        height: 190px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .card-footer {
        margin: 0.5rem;
    }
}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}