.card {
  width: 15rem;
  height: 27rem;
  margin: 1rem;
  border-radius: 0.313rem;
  box-shadow: 0.2px 4px 5px black;
  position: relative;
  overflow: hidden;
  background: white;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;

  img {
    width: 15rem;
    height: 25rem;
    object-fit: contain;
  }
  .card-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }
}

.card:hover .card-footer {
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}
