.footer-container {
    background-color: #2F4858;
    display: flex;
    width: 100vw;
    padding: 0.3rem 0 0.3rem 0;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
}