.hero-section {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    height: 84.4vh;
    .hero-content {
        padding: 20px;
        background-color: rgb(255, 255, 255, .7);
        width: 35rem;
        border-radius: 12px;
        h1 {
            margin-bottom: 1rem;
        }
        input {
            width: 12rem;
            height: 2rem;
            border-radius: 5px;
            text-align: center;
        }
      }
  }
  
  