@import "/src/components/Scss/mixins";

.main-home {
    @include flex-center-column;
    color: black;
    text-align: center;
    .search-container {
        margin: 3rem 0 3rem 0;
        padding: 2rem 2rem 1rem 2rem;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        box-shadow: 0.2px 4px 5px black;
        h1 {
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1.2em;
            width: 28rem;
            margin: auto;
        }
        input {
            margin: 2rem 0 2rem 0;
        }
    }
}

.books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
}

.mybooks-container {
    @include flex-center-column;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
    h2 {
        font-size: 2em;
        border-bottom: solid 1px black;
    }
}

.favorite-books-list {
    @include flex-center-wrap;
    gap: 5rem;
}

