.header {
    padding: 0.2rem 3rem 0.2rem 3rem;
    background-color: #2F4858;
    display: flex;
    justify-content:space-between;
    align-items: center;
    img {
        width: 100px;
        border-radius: 15px;
        margin-top: 0.2rem;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: 1.2em;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    .search-container {
        margin: 3rem 0 3rem 0;
        padding: 2rem 2rem 1rem 2rem;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        p {
            font-size: 1.2em;
        }
        input {
            margin: 2rem 0 2rem 0;
        }
    }
}

.books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.mybooks-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
    padding: 2rem;
    h2 {
        font-size: 2em;
    }
}

.favorite-books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

